body{
    margin: 0;
}

ul, li, p, button, input{
    all: unset;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/RobotoRegular.woff);
}

.gridContainer{
    height: 100vh;
    display: grid;
    grid-template-columns: 1.2fr 5fr 2fr;
    grid-template-rows: 1.5fr 5fr;
}

.leftBar{
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #128ECEff;;
}

.leftWrapper{
    display: flex;
    flex-direction: column;
    height: 60%;
    padding: 20px;
    justify-content: space-between;
}

.leftWrapper>*{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: white;
}

.logo{
    height: 3rem;
    font-size: clamp(1rem, 2vw + 0.25rem, 2rem);
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.logoImage, .sideImage{
    filter: invert(100%) sepia(0%) saturate(7433%) hue-rotate(101deg) brightness(115%) contrast(100%);
}

.logoImage{
    width: 20%;
}

.sideImage{
    width: 15%;
}

.leftMain{
    height: 22rem;
}

.leftMain>*, .leftExtras>*{
    font-size: clamp(1rem, 1.5vw + 0.125rem, 1.75rem);
    flex-direction: row;
    align-items: flex-end;
    gap: .5rem;
    display: flex;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.leftMain>*:hover, .leftExtras>*:hover{
    transform: scale(1.1);
}
.leftExtras{
    height: 10rem;
    padding-top: 1rem;
}

.header{
    grid-column: 2 / 4;
    box-shadow: 0px 6px 6px 0px rgb(174, 174, 174);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

.searchBarWrapper, .headerMain{
    flex: 1.2;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 1.25rem;
}

.searchBarWrapper{
    flex: 1.2;
}

.searchBarProfile{
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4rem;
}

.searchBarContainer{
    margin-left: 2rem;
    width: 60%; 
    margin-right: auto;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: .5rem;
}

.searchImage{
    width: 3%;
}

.searchBar{
    width: 75%;
    border-radius: 20px;
    padding: .25rem;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, .5vw + 0.1rem, 1.25rem);
    background-color: #E3E9F0ff;
}

.searchBar:focus{
    border: 2px solid #128ECE;
}

.profilePic{
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    background-size: contain;
}

.profile{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, .8vw + 0.5rem, 1.5rem);
}

.headerMain{
    flex: 2;
    align-items: center;
}

.headerMainGridContainer{
    width: 30%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    margin-left: 2.725rem;
    margin-right: auto;
}

.headerMainGridText{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.headerMainGridImage{
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headerMainButtonContainer{
    width: 30%;
    height: 40%;
    margin-right: 4rem;
    display: flex;
    justify-content: space-between;
}

.headerMainButton{
    height: 100%;
    width: 20%;
    color: white;
    background-color: #1795D5ff;
    border-radius: 40px;
    padding: .2rem .5rem .2rem .5rem;
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.headerMainButton:hover{
    opacity: .5;
}

.main, .rightBar{
    background-color: #E3E9F0ff;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainWrapper, .rightBarWrapper{
    width: 100%;
    height: 100%;
}

.mainWrapper{
    padding: 1rem;
}

.labelText{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, .8vw + 0.5rem, 1.5rem);
    font-weight: bold;
}

.mainGridContainer{
    width: 100%;
    height: 90%;
    margin-top: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
}


.mainGridElement{
    display: grid;
    grid-template-columns: .1fr 5fr;
    grid-template-rows: 1.5fr 1fr;
    box-shadow: 4px 6px 7px 0px rgba(194,194,194,1);
    border-radius: 15px;
}


.line{
    grid-row: 1 / 3;
    background-color: rgb(225,175,49);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.mainGridText{
    border-top-right-radius: 15px;
    padding: 1rem 0 0 .5rem;
}

.mainGridButtons{
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem;
    gap: 1.5rem;
}

.mainGridButtons, .mainGridText {
    background-color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.mainGridImage{
    width: 7%;
    cursor: pointer;
}

.rightBarWrapper{
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
}

.rightSection{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: auto;
    height: 45%;
    margin-top: .5rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    box-shadow: 4px 6px 7px 0px rgba(194,194,194,1);
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.rightBarHeader{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-bottom: .2rem;
    margin-top: 0;
}

.rightParagraph{
    display: block; 
    color: #464646; 
    width: 90%; 
    font-size: clamp(.5rem, .1vw + 0.7rem, 1rem);
    border-bottom: 1px solid #898989;
    padding-bottom: .8rem;
    margin-bottom: .5rem;
}

.rightGridContainer{
    display: grid;
    height: 20%;
    width: 80%;
    margin: 0 auto 0 auto;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 1fr;
}